body {
  margin:0;
  background:#0b1220;
  color:white;
  font-family:system-ui;
}

.app {
  max-width:420px;
  margin:auto;
  padding:16px;
}

.card {
  background:#182235;
  padding:16px;
  border-radius:14px;
  margin-top:20px;
}

button {
  width:100%;
  margin-top:14px;
  padding:12px;
  border:none;
  border-radius:10px;
  background:orange;
  font-weight:bold;
}